/*
File: index.css
Author: Katryna Dionisio
Description: this CSS file contains styles for the welcome page of my site.
*/

/* Resetting default margin and padding */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type Styles */
head {
    font-family: 'Groupie W05 Gloss' ;
}

.title-box {
    width: 300px;
    height: 90px;
    padding: 20px;
    background-color: #ee588f;
    text-align: center;
    position: fixed;
    left: 650px;
    top: 100px;


}



.text-box {
    width: 500px;
    height: 320px;
    padding: 20px;
    border: 10px solid #ad5cf8;
    background-color:#c85FE1 ;
    text-align: center;
    position: fixed;
    left: 485px;
    bottom: 100px;
    margin: 50px
}



body { 
    font-family: DIN Alternate ;
    color: white;
    outline:black ;
    background-color: #FAE8EF
    ;
}

.start-button {
    position: absolute;
    bottom: 20 px;
    right: 30px;
}



